<p>Αν αντιμετωπίζετε πρόβλημα σύνδεσης στο λογαριασμό σας, μπορείτε να
  <a href="{{ base_url }}/user/password">επαναφέρετε τον κωδικό πρόσβασης</a> ή να επικοινωνήσετε
  μαζί μας στη διεύθυνση <a href="https://support.betterevents.io/">support.betterevents.io</a>.</p>
