{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - mailgun.html.twig: global, used by default.
 * - mailgun--mymodule.html.twig: only emails sent by the module "mymodule".
 * - mailgun--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_mailgun()
 *
 * @ingroup themeable
 */
#}

<html>

{% include '@mt_review_notifications/templates/partials/_mt-status-activated-head.html.twig' %}

<body>
<div class="mt-wrapper">
  <div class="mt-content">
    {% include '@mt_review_notifications/templates/partials/_mt-status-activated-banner.html.twig' %}

    <p>Θα θέλαμε να σας ενημερώσουμε ότι οι αξιολογήσεις για τη βράβευση των Abstract για το <strong>27ο Ελληνικό Συνέδριο Κλινικής Ογκολογίας</strong> έχουν ξεκινήσει.</p>

    <p>Στη συνέχεια του κειμένου θα βρείτε πληροφορίες για τη σύνδεσή σας στο σύστημα αξιολόγησης και τη διαδικασία αξιολόγησης.</p>

    <h1>1. Διαδικασία Αξιολόγησης</h1>
    <div class="mt-warning">
      <p style="text-align: center">
        Σημαντική ειδοποίηση<br/>
        <strong>Προθεσμία αξιολόγησης: 5 Μαΐου 2021</strong>
      </p>
    </div>

    <p>Αφού συνδεθείτε στο σύστημα αξιολόγησης σύμφωνα με τις οδηγίες που δίνονται στο βήμα (2) θα βρείτε
      μια λίστα με όλα τα abstract που σας έχουν ανατεθεί για αξιολόγηση. Πατήστε πάνω στο καθένα και
      αφήστε τη βαθμολογία σας.
    </p>

    <h1>2. Ενεργοποίηση λογαριασμού</h1>

    <p>Πριν χρησιμοποιήσετε την υπηρεσία αξιολόγησης των abstract θα πρέπει να ενεργοποιήσετε τον λογαριασμό σας σύμφωνα με τις οδηγίες που ακολουθούν:<p>

    <div class="mt-account">
      {{ body }}
    </div>

    {% include '@mt_review_notifications/templates/partials/_mt-status-activated-support.html.twig' %}

  </div>

  {% include '@mt_review_notifications/templates/partials/_mt-status-activated-footer.html.twig' %}
</div>

</body>
</html>
